#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection {
  flex-grow: 1;
}

img {
  object-fit: cover;
}

.colorRojo {
  background-color: #cf0a2c;
}

.colorAmarillo {
  background-color: #ffcd00;
}

.carrucel img {
  filter: grayscale(0.3);
  filter: blur(2.5px);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28248, 249, 250, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  border: 1px solid #f8f9fa;
}

.carrucelTexto {
  font-size: 2.6rem;
  font-size: 70px;
  color: white;
  position: absolute;
  top: -450%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.imagen-tentate img:hover {
  height: 50%;
}

.miCarrusel .carousel-control-prev,
.miCarrusel .carousel-control-next {
  display: none;
}

.miCarrusel .carousel-indicators {
  display: none;
}

.item img {
  transition: all 0.5s;
}

.item:hover img {
  transform: scale(1.2);
}

.item figure {
  overflow: hidden;
}